@model EditProfile
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    var editProfile = ViewData["User"] as EditProfile;
}

<div class="mx-auto col-5">
    <br>
    <!--Start Card-->
    <div class="card card-info text-center">
        <!--Start Card header-->
        <div class="card-header">
            <h3 class="card-title">Edit Profile</h3>
        </div>
        <!--End Card header-->
        <!--Start Card body-->
        <div class="card-body">
            <!--Start Form profile-->
            <form id="FormProfile" method="post" asp-action="editProfile" asp-controller="EditProfile">
                <!--Start Input edit profile-->
                <span class="text-danger small"></span>
                <input type="hidden" asp-for="acc_Id" id="acc_Id" value="@editProfile.acc_Id" />
                <div class="input-group mb-3">
                    <input class="form-control" id="acc_Firstname" name="acc_Firstname" asp-for="acc_Firstname" value="@editProfile.acc_Firstname" />
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" id="acc_Lastname" name="acc_Lastname" asp-for="acc_Lastname" value="@editProfile.acc_Lastname" />
                </div>

                <!--Start Input change password-->
                <div id="acc_OldPassword" class="input-group mb-3">
                    <input id="acc_Old" type="password" name="acc_OldPassword" class="form-control" placeholder="Old password" />
                    <span id="validation_acc_OldPassword" class="text-danger"></span>
                </div>
                <div id="acc_NewPassword" class="input-group mb-3">
                    <input id="acc_New" type="password" name="acc_NewPassword" class="form-control" placeholder="New password"/>
                    <span id="validation_acc_NewPassword" class="text-danger"></span>
                </div>
                <div id="acc_ConfirmPassword" class="input-group mb-3">
                    <input id="acc_Con" type="password" name="acc_ConfirmPassword" class="form-control" placeholder="Confirm password" />
                    <span id="validation_acc_ConfirmPassword" class="text-danger"></span>
                </div>
                <!--End Input change password-->

                <!--Start Button save password-->
                <button id="btn_SavePassword" type="submit" class="btn btn-success btn-block">Save</button>
                <!--End Button save password-->

                <!--End Input edit profile-->

                <!--Start Button save profile-->
                <div class="row">
                    <div class="col-8">
                        <p id="href_ChangePassword">Change password</p>
                    </div>
                    <div class="col-4">
                        <button id="btn_SaveProfile" type="submit" class="btn btn-success btn-block float-right">Save</button>
                    </div>
                </div>
                <!--End Button save profile-->
            </form>
            <!--End Form profile-->
        </div>
        <!--End Card body-->
    </div>
    <!--Stop Card-->
</div>

<!--Start Script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#acc_OldPassword").hide();
        $("#acc_NewPassword").hide();
        $("#acc_ConfirmPassword").hide();
        $("#btn_SavePassword").hide();

        $("#href_ChangePassword").click(function () {
            $("#href_ChangePassword").hide();
            $("#btn_SaveProfile").hide();
            $("#acc_OldPassword").show();
            $("#acc_NewPassword").show();
            $("#acc_ConfirmPassword").show();
            $("#btn_SavePassword").show();
        });

        // Validation Form
        $("#FormProfile").keyup(function (e) {
            e.preventDefault();
            var acc_OldPassword = $('#acc_Old').val();
            var acc_NewPassword = $('#acc_New').val();
            var acc_ConfirmPassword = $('#acc_Con').val();

            //Regular expression
            var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$!%*?&])[A-Za-z0-9$!%*?&]+$/;

            // Validation if acc_NewPassword do not match with acc_ConfirmPassword.
            if (acc_NewPassword != acc_ConfirmPassword) {
                $('#validation_acc_ConfirmPassword').html('The password and confirmation password do not match.');
            } else {
                $('#validation_acc_ConfirmPassword').html('');
            }

            // Validation if acc_OldPassword do not math with Regular expression.
            if (!pattern.test(acc_OldPassword)) {
                $('#validation_acc_OldPassword').html('The password must contain at least <br> 1 uppercase, 1 lowercase, 1 digit and 1 special character.');
            } else {
                $('#validation_acc_OldPassword').html('');
            }

            // Validation if acc_NewPassword do not math with Regular expression.
            if (!pattern.test(acc_NewPassword)) {
                $('#validation_acc_NewPassword').html('The password must contain at least <br> 1 uppercase, 1 lowercase, 1 digit and 1 special character.');
            } else {
                $('#validation_acc_NewPassword').html('');
            }
        });

        // Toastr if old password is not match with password hash in database.
        @if (TempData["LoginErrorResult"] != null) { @Html.Raw(TempData["LoginErrorResult"])}
        // Toastr if EditProfile (Firstname and Lastname) Success.
        @if (TempData["LoginSuccessResult"] != null) { @Html.Raw(TempData["LoginSuccessResult"])}
        // Toastr if EditProfile (Firstname, Lastname and Change password) Success.
        @if (TempData["LoginAllSuccessResult"] != null) { @Html.Raw(TempData["LoginAllSuccessResult"])}
    })
</script>
<!--End Script-->

<!--Start Style-->
<style>
    #href_ChangePassword {
        text-align: left;
        color: blue;
        cursor: pointer;
    }
    #validation_acc_OldPassword {
        text-align: left;
    }
    #validation_acc_NewPassword {
        text-align: left;
    }
    #validation_acc_ConfirmPassword {
        text-align: left;
    }
</style>
<!--End Style-->