@model Account
@{
    /*
        Namspace: ~/View/EditProfile/Index.cshtml
        Author: Wannapa Srijermtong
        Description: The profile edit page.
    */
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    var editProfile = new Management();
    if (ViewData["User"] != null)
    {
        editProfile = ViewData["User"] as Management;
    }
}
<!--Start Style-->
<style>
    @*Style for hyperlink Change password*@
    .toggle-password {
        border-left: 0px;
        background-color: white;
    }
    #href_ChangePassword {
        text-align: left;
        color: blue;
        cursor: pointer;
    }

    @*Style for validation*@
    .text-danger {
        text-align: left;
    }
</style>
<!--End Style-->
<div class="mx-auto col-5">
    <br>
    <!--Start Card-->
    <div class="card card-info text-center">
        <!--Start Card header-->
        <div class="card-header">
            <h3 class="card-title">Edit Profile</h3>
        </div>
        <!--End Card header-->
        <!--Start Card body-->
        <div class="card-body">
            <!--Start Form profile-->
            <form id="FormProfile" method="post" asp-action="EditProfile" asp-controller="EditProfile">
                <!--Start Input edit profile-->
                <input type="hidden" asp-for="acc_Id" id="acc_Id" value="@editProfile.acc_Id" />
                <input type="hidden" asp-for="acc_IsActive" id="acc_IsActive" value="f" />
                <div id="acc_Firstname" class="input-group mb-3 col-12">
                    <input class="form-control" id="acc_Fname" type="text" name="acc_Firstname" placeholder="First name" asp-for="acc_Firstname" value="@editProfile.acc_Firstname" />
                    <span id="validation_acc_Firstname" class="text-danger col-12"></span>
                </div>
                <div id="acc_Lastname" class="input-group mb-3 col-12">
                    <input class="form-control" id="acc_Lname" type="text" name="acc_Lastname" placeholder="Last name" asp-for="acc_Lastname" value="@editProfile.acc_Lastname" />
                    <span id="validation_acc_Lastname" class="text-danger col-12"></span>
                </div>

                <!--Start Input change password-->
                <div id="acc_CurrentPassword" class="input-group mb-3 col-12 d-none">
                    <input class="form-control" style="border-right:0px;" id="acc_Current" type="password" name="acc_CurrentPassword" placeholder="Current password" />
                    <div class="input-group-append toggle-password" onclick="toggleCurrentPasword()">
                        <div class="input-group-text toggle-password">
                            <span id="icon_CurrentPassword" class="fas fa-eye-slash" style="cursor:pointer"></span>
                        </div>
                    </div>
                    <span id="validation_acc_CurrentPassword" class="text-danger col-12"></span>
                </div>
                <div id="acc_NewPassword" class="input-group mb-3 col-12 d-none">
                    <input class="form-control" style="border-right:0px;" id="acc_New" type="password" name="acc_NewPassword" placeholder="New password" />
                    <div class="input-group-append toggle-password" onclick="toggleNewPasword()">
                        <div class="input-group-text toggle-password">
                            <span id="icon_NewPassword" class="fas fa-eye-slash" style="cursor:pointer"></span>
                        </div>
                    </div>
                    <span id="validation_acc_NewPassword" class="text-danger col-12"></span>
                </div>
                <div id="acc_ConfirmPasswordDiv" class="input-group mb-3 col-12 d-none">
                    <input class="form-control" style="border-right:0px;" id="acc_ConfirmPassword" type="password" name="acc_ConfirmPassword" placeholder="Confirm password" />
                    <div class="input-group-append toggle-password" onclick="toggleConfirmPasword()">
                        <div class="input-group-text toggle-password">
                            <span id="icon_ConfirmPassword" class="fas fa-eye-slash" style="cursor:pointer"></span>
                        </div>
                    </div>
                    <span id="validation_acc_ConfirmPassword" class="text-danger col-12"></span>
                </div>
                <!--End Input change password-->
                <!--End Input edit profile-->
                <!--Start Button save profile-->
                <div class="row">
                    <!--If Login ProviderLogin is Email can change password-->
                    @if (editProfile.acc_TypeAccoutname == "Email")
                    {
                        <div class="col-9">
                            <p id="href_ChangePassword">Change password</p>
                        </div>
                        <div class="col-3">
                            <button id="btn_SaveProfile" type="button" class="btn btn-success btn-block float-right" onclick="SaveProfile()">Save</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-12">
                            <button id="btn_SaveProfile" type="button" class="btn btn-success btn-block float-right" onclick="SaveProfile()">Save</button>
                        </div>
                    }
                </div>
                <!--End Button save profile-->
            </form>
            <!--End Form profile-->
        </div>
        <!--End Card body-->
        <!--Start Card footer-->
        <div id="card_Footer" class="card-footer d-none">
            <button id="btn_NotSavePassword" type="button" class="btn btn-secondary float-left d-none">Back</button>
            <button id="btn_SavePassword" type="button" class="btn btn-success float-right d-none" onclick="SavePassword()">Save</button>
        </div>
        <!--End Card footer-->

    </div>
    <!--End Card-->
</div>

<!--Start Script-->
<script>
    @if (TempData["EditProfileException"] != null) { @Html.Raw(TempData["EditProfileException"])}; // Exeception

    //Regular expression
    var RegExName = /^[a-zA-Z]+(([a-zA-Z])?[a-zA-Z]*)*$/;
    var RegExPassword = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\:\;\[\]\\\|\/\.\,\'\"\()\{}\<>_#$!%@@^฿*?&\-\+\=])[A-Za-z0-9\:\;\[\]\\\|\/\.\,\'\"\()\{}\<>_#$!%@@^฿*?&\-\+\=]+$/;

    /*
    * Name: SaveProfile
    * Author: Wannapa Srijermtong
    * Description: Checking validation of acc_Firstname and acc_Lastname from input.
    */
    function SaveProfile() {
        // Get id from input
        var acc_Firstname = $('#acc_Fname').val();
        var acc_Lastname = $('#acc_Lname').val();
        var acc_Id = $('#acc_Id').val();

        // Validation if acc_Firstname do not math with Regular expression.
        if (RegExName.test(acc_Firstname) && acc_Firstname != "" && RegExName.test(acc_Lastname) && acc_Lastname != "") {
            $('#validation_acc_Firstname').html('');
            $('#validation_acc_Lastname').html('');
            $('#acc_IsActive').val('f');
            $("#FormProfile").submit();
        } else {
            if (!RegExName.test(acc_Firstname)) {
                $('#validation_acc_Firstname').html('The First name can not be blank and must only character.');
                toastr.warning('The First name can not be blank and must only character.')
            }
            else if (!RegExName.test(acc_Lastname)) {
                $('#validation_acc_Lastname').html('The Last name can not be blank and must only character.');
                toastr.warning('The Last name can not be blank and must only character.')
            } else if (acc_Id != null || acc_Id != "") {
                toastr.warning('The user ID not found !. Calling a method on a null object reference.')
            }
        }
    } // End SaveProfile

    /*
    * Name: SavePassword
    * Author: Wannapa Srijermtong
    * Description: Checking validation of acc_Firstname, acc_Lastname, acc_CurrentPassword, acc_NewPassword and acc_ConfirmPassword from input.
    */
    function SavePassword() {
        // Get id from input
        var acc_Firstname = $('#acc_Fname').val();
        var acc_Lastname = $('#acc_Lname').val();
        var acc_CurrentPassword = $('#acc_Current').val();
        var acc_NewPassword = $('#acc_New').val();
        var acc_ConfirmPassword = $('#acc_ConfirmPassword').val();

        // Validation if acc_Firstname do not math with Regular expression.
        if (RegExName.test(acc_Firstname) && acc_Firstname != ""
            && RegExName.test(acc_Lastname) && acc_Lastname != ""
            && RegExPassword.test(acc_CurrentPassword) && acc_CurrentPassword != ""
            && RegExPassword.test(acc_NewPassword) && acc_NewPassword != ""
            && RegExPassword.test(acc_ConfirmPassword) && acc_ConfirmPassword != ""
        ){
            $('#validation_acc_Firstname').html('');
            $('#validation_acc_Lastname').html('');
            $('#validation_acc_CurrentPassword').html('');
            $('#validation_acc_NewPassword').html('');
            $('#validation_acc_ConfirmPassword').html('');
            $('#acc_IsActive').val('t');
            $("#FormProfile").submit();
        } else {
            if (!RegExName.test(acc_Firstname)) {
                $('#validation_acc_Firstname').html('The First name can not be blank and must only character.');
                toastr.warning('The First name can not be blank and must only character.')
            }
            else if (!RegExName.test(acc_Lastname)) {
                $('#validation_acc_Lastname').html('The Last name can not be blank and must only character.');
                toastr.warning('The Last name can not be blank and must only character.')
            }
            else if (!RegExPassword.test(acc_CurrentPassword)) {
                $('#validation_acc_CurrentPassword').html('The password must contain at least <br> 1 uppercase, 1 lowercase, 1 digit and 1 special character.');
                toastr.warning('The current password must contain at least 1 uppercase, 1 lowercase, 1 digit and 1 special character.')
            }
            else if (!RegExPassword.test(acc_NewPassword)) {
                $('#validation_acc_NewPassword').html('The password must contain at least <br> 1 uppercase, 1 lowercase, 1 digit and 1 special character.');
                toastr.warning('The new password must contain at least 1 uppercase, 1 lowercase, 1 digit and 1 special character.')
            }
            else if (!RegExPassword.test(acc_ConfirmPassword)) {
                $('#validation_acc_ConfirmPassword').html('The password must contain at least <br> 1 uppercase, 1 lowercase, 1 digit and 1 special character.');
                toastr.warning('The confirm password must contain at least 1 uppercase, 1 lowercase, 1 digit and 1 special character.')
            }
        } // End checking acc_Firstname do not math with Regular expression
    } // End SavePassword

    $(document).ready(function () {
        // Hide href and button SaveProfile for Change password
        $("#href_ChangePassword").click(function () {
            $("#href_ChangePassword").hide();
            $("#btn_SaveProfile").hide();
            $("#card_Footer").removeClass('d-none');
            $("#acc_CurrentPassword").removeClass('d-none');
            $("#acc_NewPassword").removeClass('d-none');
            $("#acc_ConfirmPasswordDiv").removeClass('d-none');
            $("#btn_SavePassword").removeClass('d-none');
            $("#btn_NotSavePassword").removeClass('d-none');
        });

        //Show href and button SaveProfile for Change password
        $('#btn_NotSavePassword').on('click', () => {
            $("#href_ChangePassword").show();
            $("#btn_SaveProfile").show();
            $("#card_Footer").addClass('d-none');
            $("#btn_NotSavePassword").addClass('d-none');
            $("#acc_CurrentPassword").addClass('d-none');
            $("#acc_NewPassword").addClass('d-none');
            $("#acc_ConfirmPasswordDiv").addClass('d-none');
            $("#btn_SavePassword").addClass('d-none');
        })

        //Validation for acc_Firstname
        $("#acc_Firstname").keyup(function (e) {
            e.preventDefault();

            // Get id from input
            var acc_Firstname = $('#acc_Fname').val();

            // Validation if acc_Firstname do not math with Regular expression.
            if(!RegExName.test(acc_Firstname)) {
                $('#validation_acc_Firstname').html('The First name can not be blank and must only character.');
            } else {
                $('#validation_acc_Firstname').html('');
            }
        });

        //Validation for acc_Lastname
        $("#acc_Lastname").keyup(function (e) {
            e.preventDefault();

            // Get id from input
            var acc_Lastname = $('#acc_Lname').val();

            // Validation if acc_Lastname do not math with Regular expression.
            if(!RegExName.test(acc_Lastname)) {
                $('#validation_acc_Lastname').html('The Last name can not be blank and must only character.');
            } else {
                $('#validation_acc_Lastname').html('');
            }
        });

        //Validation for acc_ConfirmPassword
        $("#acc_ConfirmPassword").keyup(function (e) {
            e.preventDefault();

            // Get id from input
            var acc_NewPassword = $('#acc_New').val();
            var acc_ConfirmPassword = $('#acc_ConfirmPassword').val();

            // Validation if acc_NewPassword do not match with acc_ConfirmPassword.
            if (acc_NewPassword != acc_ConfirmPassword) {
                $('#validation_acc_ConfirmPassword').html('The password and confirmation password do not match.');
            } else {
                $('#validation_acc_ConfirmPassword').html('');
            }
        });

        //Validation for acc_CurrentPassword
        $("#acc_CurrentPassword").keyup(function (e) {
            e.preventDefault();

            // Get id from input
            var acc_CurrentPassword = $('#acc_Current').val();

            // Validation if acc_CurrentPassword do not math with Regular expression.
            if (!RegExPassword.test(acc_CurrentPassword)) {
                $('#validation_acc_CurrentPassword').html('The password must contain at least <br> 1 uppercase, 1 lowercase, 1 digit and 1 special character.');
            } else {
                $('#validation_acc_CurrentPassword').html('');
            }
        });

        //Validation for acc_NewPassword
        $("#acc_NewPassword").keyup(function (e) {
            e.preventDefault();

            // Get id from input
            var acc_NewPassword = $('#acc_New').val();

            // Validation if acc_NewPassword do not math with Regular expression.
            if (!RegExPassword.test(acc_NewPassword)) {
                $('#validation_acc_NewPassword').html('The password must contain at least <br> 1 uppercase, 1 lowercase, 1 digit and 1 special character.');
            } else {
                $('#validation_acc_NewPassword').html('');
            }
        });

        // Toastr if current password is not match with password hash in database.
        @if (TempData["EditProfileErrorResult"] != null) { @Html.Raw(TempData["EditProfileErrorResult"])};
        // Toastr if EditProfile (Firstname, Lastname and Change password) Success.
        @if (TempData["EditProfileSuccessResult"] != null) { @Html.Raw(TempData["EditProfileSuccessResult"])};
    })
</script>
<!--End Script-->