@using static UMS.Helpers.NavigationIndicatorHelper;
@{
    /*
        Namspace: ~/View/Home/Index.cshtml
        Author: Namchok Singhachai
        Description: The view for home.
    */
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<!--Style-->
<style>
    a, a:visited, a:active, a:hover, a:link {
        color: black;
        text-decoration: none;
    }
</style>
<!--End Style-->
<!--Content-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Web applications</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <a asp-controller="ManageUser" asp-action="Index" class="nav-link @Url.MakeActiveClass("ManageUser","Index")">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-user-cog"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">User management</span>
                </div>
            </div>
        </a>
    </div> <!-- End menu -->
    <div class="col-md-3 col-sm-6 col-12">
        <a asp-controller="ExamplePage" asp-action="Project" class="nav-link @Url.MakeActiveClass("Home","Index")">
            <div class="info-box">
                <span class="info-box-icon bg-cyan"><i class="far fa-file"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Project management</span>
                </div>
            </div>
        </a>
    </div> <!-- End menu -->
    <div class="col-md-3 col-sm-6 col-12">
        <a asp-controller="ExamplePage" asp-action="Member" class="nav-link @Url.MakeActiveClass("Home","Index")">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-olive"><i class="fas fa-user-check"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Member management</span>
                </div>
            </div>
        </a>
    </div> <!-- End menu -->
    <div class="col-md-3 col-sm-6 col-12">
        <a asp-controller="ManageUser" asp-action="Index" class="nav-link @Url.MakeActiveClass("ManageUser","Index")">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fas fa-user-cog"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">User management</span>
                </div>
            </div>
        </a>
    </div> <!-- End menu -->
</div>
<!--End Content-->
<script>
    @if (TempData["Exception"] != null) { @Html.Raw(TempData["Exception"]) }; // Check is has exception
</script>