@using static UMS.Helpers.NavigationIndicatorHelper;

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="~/" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light text-logo">User Management System</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-1 mb-2 d-flex">
            <div class="info text-white">
                <i class="fas fa-user-alt"></i>
            </div>

            <div class="info">
                <!-- If Authenticated show name -->
                @if (User.Identity.IsAuthenticated)
                {
                    <p class="d-block text-white">Hi!, @User.Identity.Name </p>
                }
                else
                {
                    <p class="d-block text-white">Alexander Pierce</p>
                }
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="fas fa-home"></i> &ensp;
                        <p>Home</p>
                    </a>
                </li>
                @*<li class="nav-item">
                    <a asp-controller="Home" asp-action="Privacy" class="nav-link @Url.MakeActiveClass("home","privacy")">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Pivacy</p>
                    </a>
                </li>*@
                <li class="nav-item">
                    <a asp-controller="EditProfile" asp-action="Index" class="nav-link @Url.MakeActiveClass("EditProfile","Index")">
                        <i class="far fa-address-card"></i> &ensp;
                        <p>Edit Profile</p>
                    </a>
                </li>

                <!-- ตรวจสอบว่าเป็นตำแหน่งไหน ถ้าเป็น Admin จะแสดง -->
                @if (true)
                {
                    <li class="nav-item">
                        <a asp-controller="ManageUser" asp-action="Index" class="nav-link @Url.MakeActiveClass("ManageUser","Index")">
                            <i class="fas fa-user-cog"></i> &ensp;
                            <p>Manage User</p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>